body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    margin-top: 50px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #0066ff;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
